/* DOM */

html, body {
    font-family: 'Lato', sans-serif;
}

/* Material Icons */

.material-icons {
    font-size: inherit;
    vertical-align: middle;
    line-height: 1px;
    max-width: 16px;
}

/* Inputs */

label {
    @apply cursor-pointer;
    @apply text-silver-dark;
}

input[type=text], input[type=number], input[type=datetime-local], select, textarea, button {
    @apply py-2;
    @apply px-4;
    @apply rounded;
    @apply outline-none;
    @apply border;
    @apply transition-all;
}

input[type=text]:focus, input[type=number]:focus, input[type=datetime-local]:focus, select:focus, textarea:focus, button:focus {
    @apply outline-none;
}

input[type=text], input[type=number], input[type=datetime-local], textarea, select {
    @apply border-white-x-dark;
    @apply bg-white-super;
}

input[type=text]:focus, input[type=number]:focus, input[type=datetime-local]:focus, textarea:focus, select:focus {
    @apply border-silver;
}

button {
    @apply border-gray;
    @apply bg-gray;
    @apply text-white-super;
}

button:disabled {
    @apply border-silver;
    @apply bg-silver;
    @apply text-white-x-dark;
}

.form-input {
    @apply w-full;
    @apply block;
}

.form-input.wrong, .form-input.wrong:focus {
    @apply border-red;
}

.form-input-warning {
    @apply bg-red;
    @apply text-xs;
    @apply text-white-super;
    @apply p-2;
    @apply -mt-1;
    @apply rounded-b;
}

.form-button {
    @apply py-3;
    @apply w-full;
    @apply bg-blue;
    @apply border-blue;
}

.form-button:hover {
    @apply bg-blue-light;
    @apply border-blue-light;
}

.form-button-alt {
    @apply py-3;
    @apply w-full;
    @apply bg-white-light;
    @apply text-silver;
    @apply border-silver;
}

.form-button-alt:hover {
    @apply border-silver-light;
}

input[type=checkbox]:checked~label {
    @apply text-black;
}

.rich-text {
    min-height: 440px;
}