.dropdown.active > ul {
    display: block;
}

.dropdown .material-icons {
    font-size: 16px;
}

.dropdown.active > a > .dropdown-expander > span {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}