.list {
    @apply m-0;
    @apply p-0;
    @apply list-none;
}

.list-item {
    @apply py-3;
    @apply px-5;
    @apply border;
    @apply rounded;
    @apply text-sm;
    @apply border-white;
    @apply bg-white-super;
    @apply relative;
    @apply overflow-hidden;
    @apply mb-2;
}

.list.sortable-state .list-item {
    @apply pl-12;
}

.list-item-action {
    @apply float-right;
    @apply text-red;
    @apply opacity-0;
    @apply transition-all;
    @apply duration-300;
}

.list-item-action:hover {
    @apply text-red-dark;
}

.list-item:hover .list-item-action {
    @apply opacity-100;
}

.sortable-handle {
    @apply absolute;
    @apply text-silver;
    @apply text-2xl;
    @apply top-0;
    @apply left-0;
    @apply w-10;
    @apply h-full;
    @apply cursor-pointer;
    @apply bg-white-x-light;
    @apply text-center;
    @apply pt-1;
    @apply transition;
    @apply duration-300;
    @apply hidden;
    @apply cursor-move;
}

.list-item:hover .sortable-handle {
    @apply text-gray;
}

.list.sortable.sortable-state .sortable-handle {
    @apply block;
}

.sortable .sortable {
    @apply ml-10;
}

.sortable-ghost {
    @apply border;
    @apply border-dashed;
    @apply border-silver;
    @apply rounded;
    @apply h-12;
    @apply mb-2;
}

.sortable-ghost > * {
    @apply hidden;
}