.loading {
    @apply relative;
    @apply overflow-hidden;
    min-height: 36px;
}

.loading:before, .loading:after {
    @apply absolute;
    @apply z-10;
    content: " ";
}

.loading:before {
    @apply w-full;
    @apply h-full;
    @apply top-0;
    @apply left-0;
    @apply bg-white-super;
    @apply bg-opacity-90;
}

.loading:after {
    @apply animate-spin;
    @apply w-6;
    @apply h-6;
    @apply -mt-3;
    @apply -ml-3;
    top: 50%;
    left: 50%;
    background-image: url(../../../public/images/theme/loader.svg);
    background-repeat: no-repeat;
    background-position: center;
    content: " ";
}