.tab-nav>button {
    @apply text-silver;
    @apply bg-white-x-light;
    @apply bg-opacity-0;
    @apply block;
    @apply px-6;
    @apply py-4;
    @apply border-none;
    @apply rounded-none;
    @apply rounded-t;
    @apply transition-colors;
    @apply transition-opacity;
    @apply duration-300;
}

.tab-nav>button:hover, .tab-nav>button.active {
    @apply text-gray;
}

.tab-nav>button.active {
    @apply bg-opacity-100;
}

.tab-content {
    @apply bg-white-x-light;
    @apply p-6;
    @apply rounded-b;
}